
<p class="mb-3 text-gray-500 dark:text-gray-400">
 <u class="underline">
  <%= activity.user.full_name %>
 </u>
has changed the status of this project from
 <u class="underline">
  <%= activity.old.titleize %>
 </u>
 to
 <u class="underline">
  <%= activity.new.titleize %>
 </u>
 </p>

